{% extends 'base.html' %}

{% block content %}

    <div id="vue-content" style="display: none;">
    
        <h3>Editar Persona</h3>

        <div class="row">
	        <div class="col-md-3">
                <label for="rut">Rut</label>
            </div>
	        <div class="col-md-3">
                <label for="rut">Nombres</label>
            </div>
	        <div class="col-md-3">
                <label for="rut">Apellidos</label>
            </div>
        </div>

        <div class="row">
	        <div class="col-md-3">
                <inputrut v-model="persona.rut"></inputrut>
            </div>
	        <div class="col-md-3">
                <validationprovider rules="secret" v-slot="{ errors }">
                    <pinputtext type="text" v-model="persona.nombres" ></pinputtext>
                    <span>[[ errors[0] ]]</span>
                </validationprovider>
            </div>
	        <div class="col-md-3">
                <pinputtext type="text" v-model="persona.apellidos" ></pinputtext>
            </div>
        </div>

        <div class="botonera">
            <pbutton label="Volver" class="p-button-secondary" @click="volver()"></pbutton>
            <pbutton label="Guardar"></pbutton>
        </div>
    
    </div>

{% endblock %}

{% block scripts %}

    <!-- dependencias vendors -->
    <script src="{{baseUrl}}vendor/vue/{{VUE_VERSION}}/vue.min.js"></script>
    <script src="{{baseUrl}}vendor/vee-validate/{{VEE_VALIDATE_VERSION}}/vee-validate.full.min.js"></script>
    <script src="{{baseUrl}}vendor/primevue/{{PRIMEVUE_VERSION}}/components/button.umd.min.js"></script>
    <script src="{{baseUrl}}vendor/primevue/{{PRIMEVUE_VERSION}}/components/inputtext.umd.min.js"></script>

    <!-- dependencias componentes app -->
    <script src="{{baseUrl}}js/utils/rut-utils.js"></script>
    <script src="{{baseUrl}}js/vue/components/inputrut.js"></script>

    <!-- data a javascript -->
    {{ persona|json_script:'persona-data' }}

    <script type="text/javascript">

    Vue.component('validationprovider', VeeValidate.ValidationProvider);

    // Add a rule.
    VeeValidate.extend('secret', {
        validate: value => value === 'example',
        message: 'This is not the magic word'
    });


    $(function(){
        // parsing data to javascript
        
        const persona = JSON.parse($('#persona-data').text());
        const urlPersonaIndex = "{% url 'persona-index' %}";

        new Vue({
            components: {
                'pbutton': button,
                'pinputtext': inputtext
            },
            data: {
                persona: persona
            },
            methods: {
                volver : () => {
                    window.location.href=urlPersonaIndex;
                }
            },
            delimiters: ["[[","]]"]
        }).$mount('#vue-content')


        $('#vue-content').css('display', 'block');
    });

    </script>


{% endblock %}