{% extends 'base.html' %}

{% block content %}

    <div id="vue-content" style="display: none;">

        <h2>Lista de Personas</h2>

        <pdatatable :value="personas" :filters="filtrosTablaPersonas" :paginator="true" :rows="5">
            <template #header>
                <div style="text-align: right">
                    <i class="pi pi-search" style="margin: 4px 4px 0px 0px;"></i>
                    <pinputtext v-model="filtrosTablaPersonas['global']" placeholder="Buscar..." size="50" />
                </div>
            </template>
            <template #empty>
                No se encontraron personas.
            </template>
            <pcolumn field="rut" header="Rut" :sortable="true">
                <template #body="slot">
                    [[ slot.data.rut | numberToRut ]]
                </template>
            </pcolumn>
            <pcolumn field="nombres" header="Nombres" :sortable="true"></pcolumn>
            <pcolumn field="apellidos" header="Apellidos" :sortable="true"></pcolumn>
            <pcolumn>
                <template #body="slot">
                    <pbutton type="button" icon="pi pi-search" 
                        class="p-button-rounded" style="margin-right: .5em"
                        @click="clickBotonVer(slot.data)"></pbutton>
                    <pbutton type="button" icon="pi pi-pencil" 
                        class="p-button-secondary p-button-rounded" 
                        @click="clickBotonEditar(slot.data)"></pbutton>
                </template>
            </column>
        </pdatatable>

        <editable-text></editable-text>

    </div>


{% endblock %}

{% block scripts %}

    <!-- dependencias vendors -->
    <script src="{{baseUrl}}vendor/vue/{{VUE_VERSION}}/vue.min.js"></script>
    <script src="{{baseUrl}}vendor/primevue/{{PRIMEVUE_VERSION}}/components/datatable.umd.min.js"></script>
    <script src="{{baseUrl}}vendor/primevue/{{PRIMEVUE_VERSION}}/components/column.umd.min.js"></script>
    <script src="{{baseUrl}}vendor/primevue/{{PRIMEVUE_VERSION}}/components/columngroup.umd.min.js"></script>
    <script src="{{baseUrl}}vendor/primevue/{{PRIMEVUE_VERSION}}/components/button.umd.min.js"></script>
    <script src="{{baseUrl}}vendor/primevue/{{PRIMEVUE_VERSION}}/components/inputtext.umd.min.js"></script>
    <script src="{{baseUrl}}vendor/axios/{{AXIOS_VERSION}}/axios.min.js"></script>

    <!-- dependencias componentes app -->
    <script src="{{baseUrl}}js/utils/rut-utils.js"></script>
    <script src="{{baseUrl}}js/vue/filters/number-to-rut.js"></script>
    <script src="{{baseUrl}}personas/components/editable_text.js"></script>

    <!-- data a javascript -->
    {{ personas|json_script:'personas-data' }}

    <script type="text/javascript">

    $(function(){
        // parsing data to javascript
        const personas = JSON.parse($('#personas-data').text());
        const urlEditPersona = "{% url 'persona-edit' id_persona=1234 %}";
        const urlPersonaJson = "{% url 'persona-json' id_persona=1234 %}";

        new Vue({
            components: {
                'pdatatable': datatable,
                'pcolumn' : column,
                'pbutton': button,
                'pinputtext': inputtext
            },
            data: {
                personas: personas,
                clickBotonEditar: persona => {
                    const url = urlEditPersona.replace(/1234/, persona.id);
                    console.log(`id: ${persona.id}`);
                    console.log(`url: ${url}`)
                    window.location.href=url
                },
                clickBotonVer: async persona => {
                    const url = urlPersonaJson.replace(/1234/, persona.id)
                    const response = await axios.get(url);
                    const data = JSON.parse(response.data)[0].fields;
                    alert(`url: ${url}\npersona: ${data.nombres} ${data.apellidos}`);
                },
                filtrosTablaPersonas: {}
            },
            delimiters: ["[[","]]"]
        }).$mount('#vue-content')


        $('#vue-content').css('display', 'block');
    });

    </script>


{% endblock %}

